.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: blanchedalmond;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  font-size: 30px;
  margin: 20px;
}

.linkStyle{
  margin: 20px;
  text-decoration: none;
}

.header-section{
  display: flex;
  justify-content:space-around;
}

.header-section img {
  width: 30%;
  border-radius: 100%;
}

.alllist{
  margin-top: 30px;
}

.alllist h2{
margin-top: 30px;
font-weight: bolder;
}

.repos a{
  text-decoration: none;
}
